<tr>
  <td align='left' valign='middle'>
    Введіть цей код на сторінці входу: <b><%= @login_token %></b>
  </td>
</tr>

<tr>
  <td align='left' valign='middle'>
    Або перейдіть за цим посиланням:
    <a href="http://localhost:4200/login?loginToken=<%= @login_token %>">
      http://localhost:4200/login?loginToken=<%= @login_token %>
    </a>
  </td>
</tr>
