<div class="main-content layout-column layout-align-center-center">
  {{#paper-stepper
    vertical=true
    currentStep=currentStep
    onStepChange=(action (mut currentStep))
  as |stepper|}}
    {{#stepper.step label=(t "login.chooseMethod") as |step|}}
      {{#step.actions class="layout-column layout-gt-sm-row layout-align-space-around-center" as |nextStep previousStep|}}
        {{login-method-card onClick=(action "selectAndNext" "telegram" nextStep) svgName="telegram"}}
        {{login-method-card onClick=(action "selectAndNext" "viber" nextStep) svgName="viber"}}
        {{login-method-card onClick=(action "selectAndNext" "sms" nextStep) svgName="sms"}}
      {{/step.actions}}
    {{/stepper.step}}

    {{#stepper.step label=(t "login.enterToken") as |step|}}
      {{#step.body class="layout-column"}}
        {{login-step/telegram}}
      {{/step.body}}
    {{/stepper.step}}
  {{/paper-stepper}}
</div>
