<div class="layout-row">
  <div class="flex-30">{{t "groups.show.establishedOnLabel"}}:</div>
  <div class="flex-70">{{model.establishedOn}}</div>
</div>

<div class="layout-row">
  <div class="flex-30">{{t "groups.show.descriptionLabel"}}:</div>
  <div class="flex-70">{{model.description}}</div>
</div>
