@import 'offsets';
@import 'variables';
@import 'ember-paper';
@import 'ember-paper-link';
@import 'ember-paper-stepper';
@import 'pods';
@import 'font-awesome';

.text-center {
  text-align: center;
}

.pointer {
  cursor: pointer;
}

md-input-container .hint {
  position: absolute;
  left: 2px;
  right: auto;
  bottom: 7px;
  font-size: 12px;
  line-height: 14px;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
  color: grey;
}

a[disabled] {
  pointer-events: none;
  cursor: default;
}
