@import 'offsets';
@import 'variables';
@import 'ember-paper';
@import 'ember-paper-link';
@import 'ember-paper-stepper';
@import 'pods';
@import 'font-awesome';

.text-center {
  text-align: center;
}

.pointer {
  cursor: pointer;
}

md-input-container .hint {
  position: absolute;
  left: 2px;
  right: auto;
  bottom: 7px;
  font-size: 12px;
  line-height: 14px;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
  color: grey;
}

a[disabled] {
  pointer-events: none;
  cursor: default;
}

td, th {
  padding: 12px 16px;
  text-align: left;
}

td {
  vertical-align: top;
}

tr:nth-child(odd) td {
  background-color: lighten(paper-color($primary, '50'), 1);
}

tr:nth-child(even) td {
  background-color: lighten(paper-color($primary, '50'), 3);
}

th {
  background-color: paper-color($primary, '400');
}
