<h1>Users</h1>

{{pagination-controls
  pageNumber=pageNumber
  pageSize=pageSize
  route="users.index"
  total=model.meta.total
}}

{{#ember-table as |t|}}
  {{t.head columns=columns}}
  {{t.body rows=users}}
{{/ember-table}}

{{pagination-controls
  pageNumber=pageNumber
  pageSize=pageSize
  route="users.index"
  total=model.meta.total
}}
