<div class="flex-offset-gt-xs-10 flex-gt-xs-80 flex-offset-gt-sm-20 flex-gt-sm-60 flex-offset-gt-md-25 flex-gt-md-50">
  <h1 class="text-center">{{t "privacy.privacyAgreement"}}</h1>

  {{privacy-agreement}}
</div>
