<div class="layout-wrap">
  <div class="flex-offset-xs-5 flex-xs-90 flex-offset-gt-xs-10 flex-gt-xs-80 flex-offset-gt-sm-20 flex-gt-sm-60 flex-offset-gt-md-30 flex-gt-md-40">
    {{privacy-agreement}}
  </div>
</div>
