{{header-toolbar}}

{{#paper-sidenav-container}}
  {{main-sidenav}}

  {{#paper-card-content class="flex"}}
    <div class="layout-column">
      {{outlet}}

      {{main-footer}}
    </div>
  {{/paper-card-content}}
{{/paper-sidenav-container}}
